.logo {
  transition: 0.3s ease-out;
  cursor: pointer;

  &:active {
    transform: scale(1.1);
  }
}
.logo_loading {
  animation-name: logo_loading;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes logo_loading {
  from {
    transform: translateY(25px) rotate(0deg);
  }
  to {
    transform: translateY(-25px) rotate(180deg);
  }
}

a {
  text-decoration: none;
}

// Content
.title-container {
  width: auto;
  position: relative;

  div {
    padding-bottom: 13px;
    position: relative;
    max-width: 100%;

    &::before {
      content: '';
      width: 86.5%;
      height: 1.3px;
      border-radius: 1000px;
      background: var(--v-primary-base);
      position: absolute;
      bottom: 0;
      left: 20px;
    }

    a {
      text-decoration: none !important;
      color: unset;
    }

    h2 {
      font-weight: normal;
    }
    span {
      font-weight: bold;
      color: var(--v-primary-darken1);
    }
  }
}

.text-container {
  max-width: 100%;
  color: var(--v-primary-base);
}


.mz-card {
  &--shadow {
    @include shadow-lg;
    border-radius: $rounded-md !important;

    &::before {
      border-radius: $rounded-md;
      background-color: transparent !important;
    }
  }

  &--hover {
    @include shadow-none;
    border-radius: $rounded-md !important;

    &::before {
      border-radius: $rounded-md;
      background-color: transparent !important;
    }
    &:hover {
      @include shadow-lg;
      transform: translateY(-3px);
      z-index: 1;
    }
  }
}