.logo {
  transition: 0.3s ease-out;
  cursor: pointer;

  &:active {
    transform: scale(1.1);
  }
}

.logo_loading {
  animation-name: logo_loading;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes logo_loading {
  from {
    transform: translateY(25px) rotate(0deg);
  }
  to {
    transform: translateY(-25px) rotate(180deg);
  }
}

a {
  text-decoration: none;
}

::selection {
  background: var(--v-secondary-base);
  color: #0D0E0E;
}

// Content
.title-container {
  width: auto;
  position: relative;

  div {
    padding-bottom: 13px;
    position: relative;
    max-width: 100%;

    &::before {
      content: '';
      width: 86.5%;
      height: 1.3px;
      border-radius: 1000px;
      background: var(--v-primary-base);
      position: absolute;
      bottom: 0;
      left: 20px;
    }

    a {
      text-decoration: none !important;
      color: unset;
    }

    h2 {
      font-weight: normal;
    }
    span {
      font-weight: bold;
      color: var(--v-primary-darken1);
    }
  }
}

.text-container {
  max-width: 100%;
  color: var(--v-primary-base);
}


// About
.info-container {
  width: auto;
  position: relative;

  div {
    position: relative;
    max-width: 100%;

    a {
      text-decoration: none !important;
      color: unset;
    }

    h2 {
      font-weight: normal;
    }
  }
}


.background-cover {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.06;
  z-index: 0;

  .particle-1 {
    position: absolute;
    top: 50px;
    right: 0px;
    transform: rotate(60deg);
  }
  .particle-2 {
    position: absolute;
    bottom: 60px;
    left: 0;
    transform: rotate(45deg);
  }

  .particle-3 {
    position: absolute;
    top: -100px;
    left: -230px;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 100px solid var(--v-primary-base);
  }
  .particle-4 {
    position: absolute;
    bottom: -100px;
    right: -230px;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 100px solid var(--v-primary-base);
  }
}


.mz-card {
  &--shadow {
    @include shadow-lg;
    border-radius: $rounded-md !important;

    &::before {
      border-radius: $rounded-md;
      background-color: transparent !important;
    }
  }

  &--hover {
    @include shadow-none;
    border-radius: $rounded-md !important;

    &::before {
      border-radius: $rounded-md;
      background-color: transparent !important;
    }
    &:hover {
      @include shadow-lg;
      transform: translateY(-3px);
      z-index: 1;
    }
  }
}


.overflow {
  &--hidden {
    overflow: hidden;
  }
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}